[submodule "client/submodules/json"]
	path = client/submodules/json
	url = https://github.com/nlohmann/json
[submodule "client/submodules/cpp-httplib"]
	path = client/submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "client/submodules/qrencode"]
	path = client/submodules/qrencode
	url = https://github.com/fukuchi/libqrencode.git
[submodule "client/submodules/libcotp"]
	path = client/submodules/libcotp
	url = https://github.com/paolostivanin/libcotp
