[submodule "client/submodules/json"]
	path = client/submodules/json
	url = https://github.com/nlohmann/json
[submodule "client/submodules/cpp-httplib"]
	path = client/submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "client/client/submodules/gcrypt"]
	path = client/client/submodules/gcrypt
	url = git://git.gnupg.org/libgcrypt.git
[submodule "client/submodules/libcotp"]
	path = client/submodules/libcotp
	url = https://github.com/paolostivanin/libcotp
